*{
    margin: 0px;
    padding: 0px;
}
    .head{
        width: 100%;
        height: 151px;
        background-color: rgb(10, 10, 119);
    }
    #h1{
        text-align: center;
        font-size: 30px;
        padding-top: 30px;
        padding-bottom:15x;
        color: #ffffff;
    }
     #h2{
        text-align: center;
        font-size: 15x;
        padding-bottom: 15px;
        color: #ffffff;
    }
    .header{
        text-align: center;
        justify-content: center;
        display: flex;
        padding-top: 30px;
        background-color: rgb(1, 1, 59);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #header{
        color: #ffffff;
        margin: 5px;
        padding: 5px;
    }